html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }

.modal-content {
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 200px;
    margin-left: -200px;
    padding: 20px;
    font-size: 25px;
    text-align: justify;
}

.navbar-custom .icon-bar {
    background-color:#fff;
}

.navbar-custom {
    background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
    background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
    border-color: #49bfff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
    height:100%;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    }


#map_5d2f29ba97124cd1978a5ffb6acd1597 {
    position : relative;
    width : 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 5.0%;
    }
